@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

html{
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--p-surface-ground);
    color: var(--p-text-color);
    font-family: var(--p-font-family);
}